
* {
    margin: 0;
    padding: 0;
}

#heading{
    justify-content: center;
    align-items: center;
}

.body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-column: auto;
    min-height: 100vh;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#board {
    background: rgb(44, 44, 44);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

.snake {
    background-color: green;
    border: 1px solid rgb(30, 163, 30);
}

.food {
    background: red;
}
